<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="Alfa Team Repo" value="https://analyticalways.pkgs.visualstudio.com/_packaging/AlfaTeamFeed/nuget/v3/index.json" />
  </packageSources>
</configuration>
