<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="AlfaTeamRepo" value="https://analyticalways.pkgs.visualstudio.com/_packaging/AlfaTeamFeed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <AlfaTeamRepo>
      <add key="Username" value="vsts" />
      <add key="ClearTextPassword" value="yr3uss3w7gnk3knwuoxukyujephniw3w2piohgaa5znhshpvw6ha" />
    </AlfaTeamRepo>
  </packageSourceCredentials>
</configuration>
